@charset "utf-8";
body {
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	width: 800px;
	margin: 0 auto;
	margin-top: 25px;
}
h1, h2, nav li {
	display: inline-block;
	font-size: 16px;
	margin-bottom: 8px;
}
h1 {
	font-weight: 700;
	margin-right: 5px;
}
h2 {
	filter: alpha(opacity = 80);
	opacity: 0.8;
	text-transform: lowercase;
}
footer {
	text-align: center;
	filter: alpha(opacity = 80);
	opacity: 0.8;
}
section { margin-top: 40px; }
nav a, nav a:visited {
	color: #333;
	text-decoration: none;
}
nav a:focus, nav a:hover { border-bottom: 1px dotted #333; }
nav ul { text-transform: lowercase; }
nav ul li { margin-right: 15px; }
nav a.selected {
	border-bottom: 1px solid #333;
	cursor: pointer;
}
p  { margin-bottom: 1.5em; }
/* Paul, you can do better than tables */
table.grid { margin: 0 auto; }
td {
	padding: 30px;
	text-align: center;
}
tr:first-child { padding-left: 0px; }
tr:last-child { padding-right: 0px; }
td img {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #333;
	/* improve this */
	-webkit-box-shadow: 0 8px 6px -6px #bbb;
	-moz-box-shadow:    0 8px 6px -6px #bbb;
	box-shadow:         0 8px 6px -6px #bbb;
}
td span.album { font-weight: bold; }
.song { border-bottom: 1px dotted #999; }
aside {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #999;
}
aside p { margin-bottom: 5px; }
html, body { height: 100%; }
.content {
	min-height: 100%;
	margin-bottom: -60px; 
}
.content:after {
	content: "";
	display: block;
}
.stuck, .content:after { height: 40px; }